/* Fuente de los elementos del navbar */
.nav-link{
	font-family:Arial;
}

/* Tamaño de cada elemento del slider */
.carousel-item{
	height:600px;
}

/* Alinear el slider en el centro */
.carousel-inner{
	text-align:center;
	margin-bottom:100px;
}

/* Botones que están en la página index */
.botones{
	width:20%;
	margin-left:250px;
	background-color:black;
	color:white;
	border:1px solid black;
}
/* Div que contiene el slider de los juegos con más inscripciones */
#juegos{
	margin-top:100px;
}

/* Div que contiene el título de cada apartado */
.titulo h1{
	text-align:center;
	margin-top:100px;
	font-family:Courier New;
}

/* Formulario de Inicio de Sesión y Registro */
#formulario{
	padding:100px;
	width: 30%;
}

@media screen and (max-width: 1600px){
	#formulario{
		width: 50%;
	}
}

@media screen and (max-width: 1100px){
	#formulario{
		width: 80%;
	}
}

@media screen and (max-width: 700px){
	#formulario{
		width: 100%;
	}
}

.formulario2{
	text-align:center;
	padding:100px 0;
	margin:0 auto;
}
/* Espacio en los div de los avisos legales y centrar los títulos de dichos div*/
.espacio{
	padding-left:50px;
	padding-bottom:30px;
}

.espacio h2{
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}
/*footer*/
.col_white_amrc { 
	color:#FFF;
}
footer { 
	width:100%; 
	font-family:Arial;
	background-color:#68B7FF; 
	min-height:250px; 
	padding:10px 0px 25px 0px;
}
.pt2 { 
	padding-top:40px; 
	margin-bottom:20px;
}
footer p { 
	font-size:13px; 
	font-weight:bold;
	color:white; 
	padding-bottom:0px; 
	margin-bottom:8px;
	text-align: left !important;
}
.mb10 { 
	padding-bottom:15px;
}
.footer_ul_amrc { 
	margin:0px ; 
	list-style-type:none; 
	font-size:14px; 
	padding:0px 0px 10px 0px; 
}
.footer_ul_amrc li {
	padding:0px 0px 5px 0px;
}
.footer_ul_amrc li a{ 
	color:white;
	font-weight:bold;
}
.footer_ul_amrc li a:hover{ 
	color:#fff; 
	text-decoration:none;
}
.fleft { 
	float:left;
}
.padding-right { 
	padding-right:10px; 
}
.padding-left {
	padding-left:150px;
}
.margin-left {
	margin-left:150px;
}

.footer_ul2_amrc {
	margin:0px; 
	list-style-type:none; 
	padding:0px;}
.footer_ul2_amrc li p {
	display:table; 
}
.footer_ul2_amrc li a:hover {
	text-decoration:none;
}
.footer_ul2_amrc li i { 
	margin-top:5px;
}

.bottom_border {
	border-bottom:1px solid #323f45; 
	padding-bottom:20px;
}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li {
	display:inline;
}
.foote_bottom_ul_amrc li a { 
	color:white; 
	margin:0 12px;
}

.social_footer_ul {
	display:table;
	margin:15px auto 0 auto; 
	list-style-type:none; 
}
.social_footer_ul li {
	padding-left:20px; 
	padding-top:10px; 
	float:left; 
}
.social_footer_ul li a {
	color:white; 
	border:1px solid white; 
	padding:8px;
	border-radius:50%;
}
.social_footer_ul li i {
	width:20px;
	height:20px;
	text-align:center;
}
.navbar .nav-item:not(:last-child) {
	margin-right: 0px;
}

.dropdown-toggle::after {
	transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
	transform: translateY(3px);
}
.dropdown-menu {
	margin-top: 0;
}
.error{
	color:red;
}
.centrar{
	text-align: center;
}
/*COOKIES*/
#cajacookies {
	box-shadow: 0px 0px 5px 5px #808080;
	background-color: #343a40;
	color: white;
	padding: 10px;
	margin-bottom: 0px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	font-size: 20px !important;
}

#cajacookies button {
	color: black;
}
